.cart-image-item {
  width: 100px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.fa-plus {
  color: rgb(21, 119, 21);
}
.fa-minus {
  color: rgb(173, 2, 2);
}

.fa-plus,
.fa-minus {
  margin: 0px 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.fa-plus:hover,
.fa-minus:hover {
  opacity: 0.7;
  transition: 0.6s;
  transform: scale(1.2);
}
